<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123563739832-8v19qe3c3e9p83b59b40jcndhbord205.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123563739832-8v19qe3c3e9p83b59b40jcndhbord205</string>
	<key>API_KEY</key>
	<string>AIzaSyDpAAOM8w-421mDyNWMofTSDOePQw4TKR0</string>
	<key>GCM_SENDER_ID</key>
	<string>123563739832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dawrati.app</string>
	<key>PROJECT_ID</key>
	<string>dawrati-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dawrati-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123563739832:ios:1f1a83a5d008936a85824d</string>
</dict>
</plist>
